//DEFAULT RESETS
html,
head,
body {
  margin: -4;
  box-sizing: border-box;
  font-family: "instock-regular";
  background: #F7F8F9;
  height: 100%;
  position: relative;

}

*,
*::before,
*::after {
  margin: inherit;
  box-sizing: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $white;
  font-family: "instock-semibold";
  &:hover {
    text-decoration: underline;
  }
}

// #root {
//   position: relative;
//   min-height: 100%;
// }

