//DEFAULT RESETS
html,
head,
body {
  margin: -4;
  box-sizing: border-box;
  font-family: "instock-regular";
}

*,
*::before,
*::after {
  margin: inherit;
  box-sizing: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $white;
  font-family: "instock-semibold";
  &:hover {
    text-decoration: underline;
  }
}
