@font-face {
  font-family: "instock-regular";
  src: url("../assets/fonts/TitilliumWeb-SemiBold.ttf");
}

@font-face {
  font-family: "instock-semibold";
  src: url("../assets/fonts/TitilliumWeb-SemiBold.ttf");
}
