.header {
  background-color: $instock-black;
  display: flex;
  flex-direction: column;
  min-height: 145px;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    // width: 88%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  @include desktop {
    padding-left: 8%;
    padding-right: 8%;
  }

  &__logo {
    padding: 25px;
    @include tablet {
      margin-top: -50px;
    }
  }

  &__nav {
    padding-bottom: 75px;
    min-width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      min-width: auto;
      padding-top: 25px;
      margin-left: 0;
      margin-right: 0;
      justify-content: space-between;
    }
  }

  &__warehouses-btn {
    border-radius: 20px;
    width: 125px;
    text-align: center;
    padding: 5px;
    &:hover {
      cursor: pointer;
    }
  }
  // a:hover{
  //   backg:1;
  // }
}

.active {
  background-color: $graphite;
  padding: 7px 14px 7px;
  width: 150px;
  border-radius: 20px;
}
