.list-warehouse {


    &__container {
        width: $mobile-container-width;
        margin: 0 auto;
        border-radius: 3px;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        position: absolute;
        top: 135px;
        background-color: white;
        left: 7%;
        margin-bottom: 150px;

        @include tablet {
            top: 90px;
            width: 91.67%;
            left: 4.17%;
        }

        @include desktop{
            width: 79.69%;
            left: 10.16%;
        }


    }

    &__header-section {
        border-bottom: 1px solid $cloud;
        margin: 0;

        @include tablet {
            border-bottom: none;
        }
    }

    &__header-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 86%;
        position: relative;

        @include tablet {
            flex-direction: row;
            width: 90.90%;
            justify-content: flex-end;
            align-items: center;
            height: 90px;
            margin: 0;
            left: 4.55%;
        }
    }

    &__title {
        text-align: left;
        margin: 0;
        margin-top: 18px;
        margin-bottom: 8px;

        @include tablet {
            margin: 0;
        }
    }


    &__search {
        width: 100%;

        @include tablet {
            height: 38px;
            width: 26.78%;
            margin: 0;
            margin-left: auto;
            position: relative;
        }

        &-input {
            width: 100%;
            max-width: 100%;
            margin: 0;
            outline: none;

            // @include tablet {
            //     height: 38px;
            //     width: 26.78%;
            // }

            @include tablet {
                height: 38px;
                width: 26.78%;
                margin-left: auto;
                position: relative;
            }
        }


    }

    &__add-button-link {
        width: 100%;
        margin: 10px 0;

        @include tablet {
            margin: 0;
            height: 38px;
            width: 168px;
            margin-left: 16px;
        }
    }

    &__add-button {
        @include primary-CTA;
        width: 100%;
        font-family: "instock-regular";
        font-size: 13px;
        padding: 0;
        height: 38px;
        margin: 0;
        position: relative;

    }

    &__search-icon {
        position: absolute;
        right: 15px;
        top: -40px;

        @include tablet {
            right: 197px;
            top: 8px;
        }
    }

    &__content-section{
        margin: 0;
    }

    &__content-container {
        width: 100%;
        margin: 0 auto;
        // background-color: lightcoral;
    }

    &__content-header {
        width: 100%;
        background: rgba(247, 248, 249, 0.7);
    }

    &__content-header-container {
        display: none;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90.90%;
            height: 40px;

        }

        &>h4 {
            margin: 0;
            width: 20%;
            display: flex;

            &:nth-child(4) {
                width: 25%;
            }

            &:nth-child(5) {
                width: 15%;
                justify-content: flex-end;
            }

            &>img {
                height: 15px;
                cursor: pointer;
            }
        }


    }

    &__click {
        margin: 0px;
    }
    &__warehouse-delete {
        margin: 0;
    }



}