// UTILITY CLASSES
@mixin primary-CTA {
  background-color: $instock-indigo;
  color: $white;
  font-family: "instock-semibold";
  border: 0px;
  border-radius: 20px;
  padding: 6px;
  width: 125px;
  outline-color: transparent;
  &:hover {
    background-color: $instock-black;
  }
}

@mixin delete-btn {
  @include primary-CTA;
  background-color: $red;
}

@mixin cancel-btn {
  @include primary-CTA;
  background-color: $white;
  color: $slate;
  border: lightgray 1px solid;
  &:hover {
    color: $instock-indigo;
    background-color: $white;
    border: $instock-indigo solid 1px;
  }
}

[type="text"] {
  font-family: "instock-regular";
  background-color: $white;
  border-radius: 20px;
  min-width: 200px;
  max-width: 95%;
  outline-color: $instock-indigo;
  border: 1px solid $cloud;
  padding: 5px;
  text-indent: 5px;
  margin-bottom: 20px;
  height: 40px;
}

[type="radio"] {
  margin-left: 0;
  margin-bottom: 20px;
  margin-left: 5px;
}

label {
  font-size: 14px;
  margin-right: 25px;
  margin-left: 7px;
}

textarea {
  height: 100px !important;
}
