@font-face {
  font-family: "instock-regular";
  src: url("../assets/fonts/TitilliumWeb-Regular.ttf");
}

@font-face {
  font-family: "instock-semibold";
  src: url("../assets/fonts/TitilliumWeb-SemiBold.ttf");
}

h1 {
  font-family: "instock-semibold";
  font-size: 28px;
}

h4 {
  font-family: "instock-semibold";
  font-size: 11px;
  color: #5c667e;
}

h3 {
  font-family: "instock-semibold";
  font-size: 13px;
}

p {
  font-family: "instock-regular";
  font-size: 13px;
  color: #13182c;
}

[type="text"] {
  font-family: "instock-regular";
  background-color: #ffffff;
  border-radius: 20px;
  min-width: 200px;
  max-width: 95%;
  outline-color: #2e66e5;
  border: 1px solid #bdc5d5;
  padding: 5px;
  text-indent: 5px;
  margin-bottom: 20px;
  height: 40px;
}

[type="radio"] {
  margin-left: 0;
  margin-bottom: 20px;
  margin-left: 5px;
}

label {
  font-size: 14px;
  margin-right: 25px;
  margin-left: 7px;
}

textarea {
  height: 100px !important;
}

html,
head,
body {
  margin: -4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "instock-regular";
  background: #F7F8F9;
}

*,
*::before,
*::after {
  margin: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-family: "instock-semibold";
}

a:hover {
  text-decoration: underline;
}

.header {
  background-color: #13182c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 145px;
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

.header__logo {
  padding: 25px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-top: -50px;
  }
}

.header__nav {
  padding-bottom: 75px;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .header__nav {
    min-width: auto;
    padding-top: 25px;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__warehouses-btn {
  border-radius: 20px;
  width: 125px;
  text-align: center;
  padding: 5px;
}

.header__warehouses-btn:hover {
  cursor: pointer;
}

.active {
  background-color: #232940;
  padding: 7px 14px 7px;
  width: 150px;
  border-radius: 20px;
}

.add-warehouse {
  padding: 15px 0 0 0;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 135px;
  left: 7%;
  width: 86%;
  margin-bottom: 1.5%;
  border: 1px solid lightgray;
}

@media screen and (min-width: 768px) {
  .add-warehouse {
    position: absolute;
    top: 85px;
  }
}

.add-warehouse__heading {
  border-bottom: 1px lightgray solid;
  text-indent: 40px;
  position: relative;
}

.add-warehouse__heading::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  bottom: -1px;
  background-image: url("../assets/Icons/arrow_back-24px.svg");
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .add-warehouse__heading::before {
    left: 15px;
    bottom: -5px;
  }
}

@media screen and (min-width: 1280px) {
  .add-warehouse__heading::before {
    bottom: -13px;
  }
}

.add-warehouse__subheading {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .add-warehouse__details-availability-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.add-warehouse__warehouse-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px lightgray solid;
  padding-left: 12px;
}

@media screen and (min-width: 768px) {
  .add-warehouse__warehouse-details {
    width: 50%;
    border-right: 1px solid #bdc5d5;
    border-bottom: none;
    border-top: 1px none;
  }
}

.add-warehouse__contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .add-warehouse__contact-details {
    width: 50%;
  }
}

.add-warehouse__btn-container {
  background-color: #f7f8f9;
  margin-bottom: 0;
  padding: 20px 10px 10px 10px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .add-warehouse__btn-container {
    width: 100%;
    float: right;
    padding-left: 57.3%;
  }
}

@media screen and (min-width: 1280px) {
  .add-warehouse__btn-container {
    padding-left: 75%;
  }
}

.add-warehouse__cancel-btn {
  background-color: #2e66e5;
  color: #ffffff;
  font-family: "instock-semibold";
  border: 0px;
  border-radius: 20px;
  padding: 6px;
  width: 125px;
  outline-color: transparent;
  background-color: #ffffff;
  color: #5c667e;
  border: lightgray 1px solid;
}

.add-warehouse__cancel-btn:hover {
  background-color: #13182c;
}

.add-warehouse__cancel-btn:hover {
  color: #2e66e5;
  background-color: #ffffff;
  border: #2e66e5 solid 1px;
}

@media screen and (min-width: 768px) {
  .add-warehouse__cancel-btn {
    margin-right: 20px;
  }
}

.add-warehouse__save-add-btn {
  background-color: #2e66e5;
  color: #ffffff;
  font-family: "instock-semibold";
  border: 0px;
  border-radius: 20px;
  padding: 6px;
  width: 125px;
  outline-color: transparent;
}

.add-warehouse__save-add-btn:hover {
  background-color: #13182c;
}

.add-warehouse__error-validation {
  font-size: 12px;
  color: orangered;
}

.radio-label {
  margin-right: 20px;
}

.list-warehouse__container {
  width: 86%;
  margin: 0 auto;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  position: absolute;
  top: 135px;
  background-color: white;
  left: 7%;
}

@media screen and (min-width: 768px) {
  .list-warehouse__container {
    top: 90px;
    width: 91.67%;
    left: 4.17%;
  }
}

@media screen and (min-width: 1280px) {
  .list-warehouse__container {
    width: 79.69%;
    left: 10.16%;
  }
}

.list-warehouse__header-section {
  border-bottom: 1px solid #bdc5d5;
}

@media screen and (min-width: 768px) {
  .list-warehouse__header-section {
    border-bottom: none;
  }
}

.list-warehouse__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 86%;
  position: relative;
}

@media screen and (min-width: 768px) {
  .list-warehouse__header-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90.90%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90px;
    margin: 0;
    left: 4.55%;
  }
}

.list-warehouse__title {
  text-align: left;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .list-warehouse__title {
    margin: 0;
  }
}

.list-warehouse__search {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .list-warehouse__search {
    height: 38px;
    width: 26.78%;
    margin-left: auto;
    position: relative;
  }
}

.list-warehouse__search-input {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .list-warehouse__search-input {
    height: 38px;
    width: 26.78%;
    margin-left: auto;
    position: relative;
  }
}

.list-warehouse__search-icon {
  position: absolute;
  right: 15px;
  top: 77px;
}

@media screen and (min-width: 768px) {
  .list-warehouse__search-icon {
    right: 27%;
    top: 33px;
  }
}

.list-warehouse__add-button-link {
  width: 100%;
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .list-warehouse__add-button-link {
    margin: 0;
    height: 38px;
    width: 23.86%;
    margin-left: 16px;
  }
}

.list-warehouse__add-button {
  background-color: #2e66e5;
  color: #ffffff;
  font-family: "instock-semibold";
  border: 0px;
  border-radius: 20px;
  padding: 6px;
  width: 125px;
  outline-color: transparent;
  width: 100%;
  font-family: "instock-regular";
  font-size: 13px;
  padding: 0;
  height: 38px;
}

.list-warehouse__add-button:hover {
  background-color: #13182c;
}

.list-warehouse__content-container {
  width: 100%;
  margin: 0 auto;
}

.list-warehouse__content-header {
  width: 100%;
  background: rgba(247, 248, 249, 0.7);
}

.list-warehouse__content-header-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .list-warehouse__content-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90.90%;
    height: 40px;
  }
}

.list-warehouse__content-header-container > h4 {
  margin: 0;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-warehouse__content-header-container > h4:nth-child(4) {
  width: 25%;
}

.list-warehouse__content-header-container > h4:nth-child(5) {
  width: 15%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.list-warehouse__content-header-container > h4 > img {
  height: 15px;
  cursor: pointer;
}

.list-warehouse__click {
  margin: 0px;
}

.list-warehouse__warehouse-delete {
  margin: 0;
}

.list-warehouse__warehouse-card-container {
  border-bottom: 1px solid #bdc5d5;
}

.list-warehouse__warehouse-card-container:hover {
  background: rgba(46, 102, 230, 0.07);
}

.list-warehouse__warehouse-card {
  width: 86%;
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .list-warehouse__warehouse-card {
    width: 90.90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    padding-top: 16px;
  }
}

.list-warehouse__warehouse-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .list-warehouse__warehouse-top {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.list-warehouse__warehouse-name-section {
  width: 50%;
  margin: 0;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .list-warehouse__warehouse-name-section {
    width: 25%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 0;
    margin-bottom: 10px;
  }
}

.list-warehouse__warehouse-name-title {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .list-warehouse__warehouse-name-title {
    display: none;
  }
}

.list-warehouse__warehouse-name {
  margin: 0;
  color: #2e66e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-warehouse__warehouse-name > a {
  color: #2e66e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-warehouse__contact-name-section {
  width: 50%;
  margin: 0;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .list-warehouse__contact-name-section {
    width: 25%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.list-warehouse__contact-name-title {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .list-warehouse__contact-name-title {
    display: none;
  }
}

.list-warehouse__contact-name {
  margin: 0;
}

.list-warehouse__address-section {
  width: 50%;
  margin: 0;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .list-warehouse__address-section {
    width: 25%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-right: 30px;
  }
}

.list-warehouse__address-title {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .list-warehouse__address-title {
    display: none;
  }
}

.list-warehouse__address {
  margin: 0;
}

.list-warehouse__contact-section {
  width: 50%;
  margin: 0;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .list-warehouse__contact-section {
    width: 25%;
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}

.list-warehouse__contact-title {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .list-warehouse__contact-title {
    display: none;
  }
}

.list-warehouse__contact {
  margin: 0;
}

.list-warehouse__warehouse-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-warehouse__warehouse-bottom > a {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .list-warehouse__warehouse-bottom {
    width: 20%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-top: 15px;
  }
}

.list-warehouse__warehouse-delete {
  margin: 0;
}

.list-warehouse__warehouse-edit {
  margin: 0;
  margin-left: 10px;
}

.delete__card {
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .delete__card {
    background-color: rgba(19, 24, 44, 0.7);
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
            box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .delete__card-within {
    width: 672px;
    height: 262px;
    position: relative;
    background-color: #fff;
    margin-top: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px;
    margin-top: 185px;
  }
}

@media screen and (min-width: 768px) {
  .delete__confirmation {
    margin: 0;
  }
}

.delete__page--mobile-only {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .delete__page--mobile-only {
    height: 100vh;
    position: static;
    top: 18.07%;
  }
}

.delete__header {
  position: absolute;
  width: 343px;
  height: 72px;
  left: 16px;
  top: 60px;
  font-family: instock-regular;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #13182C;
}

@media screen and (min-width: 768px) {
  .delete__header {
    position: static;
    width: 407px;
    height: 40px;
    font-size: 32px;
    line-height: 40px;
  }
}

.delete__details {
  position: absolute;
  width: 343px;
  height: 78px;
  left: 16px;
  top: 148px;
  font-family: instock-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  color: #13182C;
}

@media screen and (min-width: 768px) {
  .delete__details {
    position: static;
    font-weight: 100;
    width: 544px;
    height: 56px;
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
  }
}

.delete__cancel--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 8px 63px;
  position: absolute;
  width: 163px;
  height: 36px;
  left: 16px;
  top: 607px;
  background-color: #ffffff;
  border: 1px solid #BDC5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-family: instock regular;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  color: #5c667e;
}

@media screen and (min-width: 768px) {
  .delete__cancel--btn {
    position: static;
    padding: 8px 16px;
    width: 72px;
    height: 38px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 10px 20px;
  }
}

@media screen and (min-width: 768px) {
  .delete__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.delete__delete--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 8px 63px;
  position: absolute;
  width: 163px;
  height: 36px;
  left: 196px;
  top: 607px;
  background-color: #c94515;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-family: instock regular;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .delete__delete--btn {
    position: static;
    padding: 8px 16px;
    width: 71px;
    height: 38px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 10px 0;
  }
}

.delete__exit--btn {
  position: absolute;
  right: 5px;
  top: 2%;
}

@media screen and (min-width: 768px) {
  .delete__exit--btn {
    top: -170px;
    right: 10px;
  }
}

.items-warehouse__container {
  width: 86%;
  margin: 0 auto;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  position: absolute;
  top: 135px;
  background-color: white;
  left: 7%;
}

@media screen and (min-width: 768px) {
  .items-warehouse__container {
    top: 90px;
    width: 91.67%;
    left: 4.17%;
  }
}

@media screen and (min-width: 1280px) {
  .items-warehouse__container {
    width: 79.69%;
    left: 10.16%;
  }
}

.items-warehouse__header-section {
  border-bottom: 1px solid #bdc5d5;
  margin: 16px 0;
}

@media screen and (min-width: 768px) {
  .items-warehouse__header-section {
    border-bottom: none;
  }
}

.items-warehouse__header-top {
  border-bottom: 1px solid #bdc5d5;
}

.items-warehouse__header-top-container {
  margin: 0 auto;
  width: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
}

.items-warehouse__backlink {
  margin: 0;
  margin-top: 5px;
  margin-right: 3px;
}

.items-warehouse__header-name {
  margin: 0;
  margin-right: auto;
}

.items-warehouse__edit-link {
  margin: 0;
}

.items-warehouse__edit-circle {
  height: 36px;
  width: 36px;
  border-radius: 20px;
  background: #2E66E6;
  position: relative;
}

.items-warehouse__edit-circle > img {
  position: absolute;
  top: 5px;
  right: 5px;
}

.items-warehouse__header-bottom-container {
  margin: 0 auto;
  width: 86%;
}

@media screen and (min-width: 768px) {
  .items-warehouse__header-bottom-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .items-warehouse__header-bottom-top {
    margin: 0;
    margin-right: auto;
  }
}

.items-warehouse__header-bottom-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .items-warehouse__header-bottom-bottom {
    margin: 0;
    width: 50%;
  }
}

.items-warehouse__header-bottom-left {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .items-warehouse__header-bottom-left {
    padding-left: 30px;
    border-left: 2px solid #D1D1D1;
  }
}

.items-warehouse__header-bottom-right {
  width: 50%;
}

.items-warehouse__title {
  text-align: left;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .items-warehouse__title {
    margin: 0;
  }
}

.items-warehouse__search {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .items-warehouse__search {
    height: 38px;
    width: 26.78%;
    margin-left: auto;
    position: relative;
  }
}

.items-warehouse__search-input {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .items-warehouse__search-input {
    height: 38px;
    width: 26.78%;
    margin-left: auto;
    position: relative;
  }
}

.items-warehouse__search-icon {
  position: absolute;
  right: 15px;
  top: 77px;
}

@media screen and (min-width: 768px) {
  .items-warehouse__search-icon {
    right: 27%;
    top: 33px;
  }
}

.items-warehouse__add-button-link {
  width: 100%;
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .items-warehouse__add-button-link {
    margin: 0;
    height: 38px;
    width: 23.86%;
    margin-left: 16px;
  }
}

.items-warehouse__add-button {
  background-color: #2e66e5;
  color: #ffffff;
  font-family: "instock-semibold";
  border: 0px;
  border-radius: 20px;
  padding: 6px;
  width: 125px;
  outline-color: transparent;
  width: 100%;
  font-family: "instock-regular";
  font-size: 13px;
  padding: 0;
  height: 38px;
}

.items-warehouse__add-button:hover {
  background-color: #13182c;
}

.items-warehouse__content-container {
  width: 100%;
  margin: 0 auto;
}

.items-warehouse__content-header {
  width: 100%;
  background: rgba(247, 248, 249, 0.7);
}

.items-warehouse__content-header-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .items-warehouse__content-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90.90%;
    height: 40px;
  }
}

.items-warehouse__content-header-container > h4 {
  margin: 0;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items-warehouse__content-header-container > h4:nth-child(4) {
  width: 25%;
}

.items-warehouse__content-header-container > h4:nth-child(5) {
  width: 15%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.items-warehouse__content-header-container > h4 > img {
  height: 15px;
  cursor: pointer;
}

.items-warehouse__click {
  margin: 0px;
}

.items-warehouse__warehouse-delete {
  margin: 0;
}

.itemcard-warehouse__warehouse-card-container {
  border-bottom: 1px solid #bdc5d5;
}

.itemcard-warehouse__warehouse-card-container:hover {
  background: rgba(46, 102, 230, 0.07);
}

.itemcard-warehouse__warehouse-card {
  width: 86%;
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .itemcard-warehouse__warehouse-card {
    width: 90.90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    padding-top: 16px;
  }
}

.itemcard-warehouse__warehouse-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .itemcard-warehouse__warehouse-top {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.itemcard-warehouse__warehouse-name-section {
  width: 50%;
  margin: 0;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .itemcard-warehouse__warehouse-name-section {
    width: 25%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 0;
    margin-bottom: 10px;
  }
}

.itemcard-warehouse__warehouse-name-title {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .itemcard-warehouse__warehouse-name-title {
    display: none;
  }
}

.itemcard-warehouse__warehouse-name {
  margin: 0;
  color: #2e66e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemcard-warehouse__warehouse-name > a {
  color: #2e66e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemcard-warehouse__contact-name-section {
  width: 50%;
  margin: 0;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .itemcard-warehouse__contact-name-section {
    width: 25%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.itemcard-warehouse__contact-name-title {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .itemcard-warehouse__contact-name-title {
    display: none;
  }
}

.itemcard-warehouse__contact-name {
  margin: 0;
}

.itemcard-warehouse__address-section {
  width: 50%;
  margin: 0;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .itemcard-warehouse__address-section {
    width: 25%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-right: 30px;
  }
}

.itemcard-warehouse__address-title {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .itemcard-warehouse__address-title {
    display: none;
  }
}

.itemcard-warehouse__address {
  margin: 0;
}

.itemcard-warehouse__contact-section {
  width: 50%;
  margin: 0;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .itemcard-warehouse__contact-section {
    width: 25%;
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}

.itemcard-warehouse__contact-title {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .itemcard-warehouse__contact-title {
    display: none;
  }
}

.itemcard-warehouse__contact {
  margin: 0;
}

.itemcard-warehouse__warehouse-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.itemcard-warehouse__warehouse-bottom > a {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .itemcard-warehouse__warehouse-bottom {
    width: 20%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-top: 15px;
  }
}

.itemcard-warehouse__warehouse-delete {
  margin: 0;
}

.itemcard-warehouse__warehouse-edit {
  margin: 0;
  margin-left: 10px;
}
/*# sourceMappingURL=App.css.map */